<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Hackcess.Properties.Settings.DatalityConnectionString" connectionString="Data Source=BWALTERS-PC\\SQLEXPRESS;Initial Catalog=Datality;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
    <add name="AshleyGraham" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Datality.AshleyGraham;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>