<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Slashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="AshleyGraham" providerName="System.Data.SqlClient" connectionString="Data Source=BWALTERS-PC\SQLEXPRESS;Initial Catalog=AshleyGrahamTest;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
    <!--<add name="AshleyGraham" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=Datality.AshleyGraham;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <applicationSettings>
    <Slashboard.Properties.Settings>
      <setting name="LastProFocused" serializeAs="String">
        <value>"Ronda Rousey"</value>
      </setting>
      <setting name="LastChangelingFocused" serializeAs="String">
        <value>"Straweight"</value>
      </setting>
    </Slashboard.Properties.Settings>
  </applicationSettings>
</configuration>